* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  right: 0;
  left: 0;
  top: 0;
  position: fixed;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 100;
}

.first-text {
  font-size: 15px;
  font-weight: bold;
  margin-left: 20px;
  color: white;
}

li {
  list-style: none;
  color: white;
  cursor: pointer;
}

li:hover {
  text-decoration: underline;
}

.list {
  display: flex;
  gap: 25px;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
}

.div-icon {
  display: flex;
  gap: 15px;
  margin-right: 20px;
}

.fa-magnifying-glass {
  font-size: 25px;
  color: white;
}

.fa-shop {
  background-color: rgb(191, 127, 10);
  color: white;
  border-radius: 20px;
  font-size: 15px;
  padding: 5px;
}

h2 {
  width: 150px;
}

.first-sec {
  position: relative;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  max-width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 30px;
}

.intro {
  width: 290px;
  margin-left: 20px;
  color: white;
}

.paragraph-1 {
  margin-bottom: 20px;
}

.add-cart {
  background-color: rgb(191, 127, 10);
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 25px;
  margin-right: 20px;
}

.add-cart:hover {
  background-color: white;
  color: rgb(191, 127, 10);
  transition: 1s;
  border: 1px solid rgb(191, 127, 10);
}

.explore-btn {
  background-color: transparent;
  border: none;
  font-size: 15px;
  margin-left: 20px;
  color: rgb(191, 127, 10);
}

.explore-btn:hover {
  text-decoration: underline;
}

.men-shoe {
  margin-left: 30px;
  font-size: 8px;
  font-weight: bold;
}

.buy-now {
  width: 80px;
  height: 30px;
  background-color: transparent;
  border-radius: 20px;
  border-width: 1px;
}

.buy-now:hover {
  background-color: black;
  color: white;
  cursor: pointer;
  transition: background-color 1s;
}

.price {
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}

.second-sec {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 50px;
  /*background-color: aqua;*/
  height: 400px;
  max-width: 100%;
}

.div-sec-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.second-sec-3 {
  max-width: 100%;
  /*background-color: burlywood;*/
}

h1 {
  width: 150px;
  margin-bottom: 10px;
}

.btn-1 {
  padding: 7px 10px;
  background-color: white;
  border: 1px solid rgb(191, 127, 10);
  border-radius: 40px;
  margin-left: 150px;
}

.btn-2 {
  padding: 7px 10px;
  background-color: rgb(191, 127, 10);
  color: white;
  border: none;
  border-radius: 40px;
}

.btn-3 {
  display: block;
  width: 100px;
  height: 35px;
  background-color: rgb(191, 127, 10);
  border: none;
  border-radius: 40px;
  margin-bottom: 30px;
  margin-top: 20px;
  color: white;
}

.btn-3:hover {
  background-color: transparent;
  color: rgb(191, 127, 10);
  border: 1px solid gray;
  transition: 2s;
}

.shop-now {
  color: rgb(191, 127, 10);
  cursor: pointer;
}

.shop-now:hover {
  text-decoration: underline;
}

.second-sec-4 {
  display: block;
  align-self: flex-start;
}

.second-sec-5 {
  display: flex;
  align-self: flex-end;
}

.paragraph-2 {
  width: 300px;
}

.third-sec {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-left: 20px;
  margin-bottom: 50px;
}

.fourth-sec {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.add-to-cart {
  width: 100%;
  height: 30px;
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 30px;
  cursor: pointer;
}

.add-to-cart:hover {
  background-color: black;
  color: white;
  transition: 1s;
}

.price-org {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}

.prod {
  display: flex;
  align-self: flex-start;
}

.forth {
  display: flex;
  justify-content: space-between;
}

.nike-org {
  margin-top: 20px;
  margin-bottom: 20px;
}

.fifth-back {
  display: flex;
  justify-content: space-evenly;
  align-items: end;
  background-color: black;
  background-image: url("../images/nick-no-10.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 400px;
  margin-bottom: 400px;
}

.buy-now-1 {
  color: white;
  height: 40px;
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid white;
  padding-right: 10px;
  padding-left: 10px;
  cursor: pointer;
  font-weight: bold;
}

.buy-now-1:hover {
  background-color: yellow;
  color: black;
  border: none;
  transition: 1s;
}

.shoe-11 {
  color: white;
  margin-bottom: 20px;
  margin-left: 20px;
}

.sixth-sec {
  display: grid;
  position: relative;
  max-width: 100%;
  height: 400px;
  background-color: black;
}

.suscribe {
  position: absolute;
  right: 20px;
  left: 300px;
  top: -120px;
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 50%;
  padding-bottom: 20px;
  border: none;
  border-radius: 20px;
  margin-left: 20px;
  box-shadow: 2px 2px 4px gray;
}
.newsletter {
  font-size: 50px;
  color: rgb(191, 127, 10);
  margin-top: 10px;
}

.input-1 {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-left: 20px;
}

.input {
  display: flex;
  align-self: flex-end;
  margin-left: 20px;
}

.field {
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px 25px;
  margin-right: 10px;
}

.contact {
  color: white;
  margin-left: 20px;
}

.sub-foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.this-div {
  margin-left: 30px;
}

.stride-note {
  color: white;
  font-size: 40px;
  margin-top: 90px;
}

.note {
  color: white;
  width: 390px;
  margin-bottom: 40px;
}

.media {
  color: white;
  margin-top: 100px;
  padding-right: 20px;
  text-align: left;
  font-size: 15px;
  font-weight: bold;
}

.fa-facebook,
.fa-instagram,
.fa-twitter {
  color: white;
  margin-right: 10px;
  margin-top: 10px;
}

.copy-1 {
  color: white;
  margin-left: 20px;
}

.copy {
  color: white;
  margin-right: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  border-top: 1px solid white;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 20px;
}

main {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}

@media (max-width: 600px) {
  .price-org {
    grid-template-columns: 1fr 1fr;
  }

  .second-sec-3 {
    max-width: 100%;
  }

  
  .third-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .price-org {
    grid-template-columns: 1fr 1fr;
  }

  .second-sec-3 {
    max-width: 100%;
  }
}
